.course-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  border-radius: 12px;
  font-size: 20px;
}
.course-heading-container {
  display: flex;
  justify-content: space-between;
}
.course-heading {
  color: #1e293b;
}
.course-duration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #1e293b;
}
.course-tags-container {
  display: flex;
  flex-wrap: wrap;
}
.course-tags {
  background-color: #cbd6ea;
  border-radius: 12px;
  padding: 6px;
  font-size: 16px;
  font-weight: bold;
  margin: 6px;
}
